body{
  color: black;
  font-family: 'Josefin Sans', sans-serif;
}
.container{
  max-width: 1100px;
}
a img:hover{
  cursor: default;
}
h1{
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: 5em;
  text-align: center;
}
.navBar h3{
  float: right;
  font-size: 19px;
  margin-top: -20px;
}
.navBar a{
  color: black;
}
.navBar a:hover{
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0.5;
}
.navBar h1 a:hover{
  opacity: 1;
  cursor: default;
}
.orderConfirmation{
  display: none;
}
.confirmationPage{
  display: none;
}
.footer a{
  color: black;
  font-weight: bold;
}
.wrapper{
  min: weight: 100%;
}
.footer{
  position: relative;
  margin-top: -2px;
  height: 80px;
}
.bacioContact{
  text-align: right;
}
