body{
  color: black;
  font-family: 'Josefin Sans', sans-serif;
}
.container{
  max-width: 1100px;
}
h1{
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: 5em;
  text-align: center;
}
.navBar h3{
  float: right;
  font-size: 19px;
  margin-top: -20px;
}
.navBar a{
  color: black;
}
.navBar a:hover{
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0.5;
}
.navBar h1 a:hover{
  opacity: 1;
  cursor: default;
}
.orderConfirmation{
  display: none;
}
.confirmationPage{
  display: none;
}
.footer a{
  color: black;
  font-weight: bold;
}
.wrapper{
  min: weight: 100%;
}
.footer{
  position: relative;
  margin-top: -1px;
  height: 80px;
}
.bacioContact{
  text-align: right;
}
.bacioHours{
  padding-left: 10%;
}
.footer h4{
  font-weight: bold;
}
#submitOrder{
  float: right;
}
#order h4{
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
#menu h2, .orderConfirmation h2{
  text-align: center;
  font-size: 3em;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}
.orderMenu, .orderConfirmation, .confirmationPage{
  margin-top: 5%;
}
.addTopMargin{
  margin-top: 9px;
}
#size{
  width: 25%;
  border-radius: 0px;
  -webkit-appearance: none;
}
.btn{
  border: 1.5px solid black;
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  padding: 3px;
  background-color: black;
  color: white;
  border-radius: 0px;
}
.btn:hover{
  background-color: white;
  color: black;
  opacity: 1;
  border: 1.5px solid black;
  text-transform: uppercase;
  font-size: .95em;
}
#inputCustomerAddress form{
  display: table;
}
#inputCustomerAddress div{
  display: table-row;
}
#inputCustomerAddress label{
  display: table-cell;
  margin-top: 5px;
}
#inputCustomerAddress input{
  display: table-cell;
  margin-top: 5px;
  margin-left: 3px;
}
.orderConfirmation li{
  font-size: 17px;
}
.orderConfirmation p{
  font-size: 20px;
}
.orderConfirmation hr{
  width: 500px;
}
.orderConfirmation h2{
  text-align: left;
}
h5{
  font-size: 2.5em;
  text-align:center;
}
h6{
  font-size: 1.5em;
  text-align:left;
}
.bannerText h2{
  font-family: 'Work Sans', sans-serif;
  font-size: 4em;
  color: white;
  font-weight: 900;
}
.bannerText h3 a{
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  color: white;
  font-weight: 300;
}
.bannerText h3 a:hover{
  text-decoration: none;
  border: 2px solid white;
  padding: 5px;
}

.bannerText{
  position: absolute;
  top: 25px;
  left: 5%;
  right: 20px;
  max-width: 1100px;
}
.fixTextIssue{
  position: relative;
}
input[type="checkbox"]{
  display: none;
}
input[type="checkbox"]:checked + label{
  color: white;
  background-color: black;
  padding-right: 10px;
  padding-left: 10px;
  text-transform: uppercase;
  padding-top: 4px;
}
@media (max-width: 991px){
  .bannerText{
    left: 6%;
  }
}
@media (max-width: 850px){
  h1{
    font-size: 3.5em;
  }
}
@media (max-width: 720px){
  .bannerText h2{
    font-size: 3em;
  }
  .bannerText h3 a{
    font-size: 1em;
}
@media (max-width: 540px){
  .bannerText h2{
    font-size: 2em;
  }
  .bannerText h3 a{
    font-size: 0.7em;
  }
  h1{
    font-size: 2.5em;
  }
}
@media (max-width: 480px){
  h1{
    font-size: 2em;
  }
  .navBar h3{
    font-size: 13px;
  }
}
#customPizzaToggle{
  display: none;
}
